/* colors:
grey: #606060
potato: #fff1e8;
features: #f0f0f0;
*/


/*===================
GENERAL
===================*/

*, *:before, *:after {
  box-sizing: border-box;
}


/*===================
LAYOUT
===================*/

body {
  width: 100%;
  margin: auto;
}

header {
  width: 100%;
  background-color: dimgray;
}

article {
  display: inline-block;
  float: left;
}

footer {
  height: 110px;
}

#aboutus {

}

/*===================
HEADER
===================*/

nav {

}

#nav-logo img {
  /*width: 30%;*/
  /*height: 100%;*/
}

ul {
  /*display: inline-block;*/
  float: right;
  padding: 20px 40px;
}

li {
  display: inline;
  padding: 20px;
  /*margin: 10px;*/
  /*float: right;*/
}

li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: sans-serif;
}

/*===================
MAIN
===================*/

#hero {
  background-color: linen;
  padding: 110px 0px;
}

#hero-button {
  position: relative;;
  border-radius: 5px;
  padding: 10px 50px;
  text-decoration: none;
  color: white;
  background-color: pink;
  font-family: sans-serif;
  margin-left: 40%;
}

#pinky {
  display: block;
  margin: 0px auto;
}

#aboutus-content {
  width: 35%;
  margin: 0% 30%;
}

.img-float-left {
  float: left;
  padding: 50px;
}


/*===================
FOOTER
===================*/

footer {
  clear: both;
  background-color: dimgray;
}

footer p {
  text-align: center;
  padding-top: 50px;
}
