/* colors:
grey: #606060
potato: #fff1e8;
features: #f0f0f0;
*/


/*===================
GENERAL
===================*/

*, *:before, *:after {
  box-sizing: border-box;
}


/*===================
LAYOUT
===================*/




/*===================
HEADER
===================*/





/*===================
MAIN
===================*/





/*===================
FOOTER
===================*/
