/* colors:
grey: #606060
potato: #fff1e8;
features: #f0f0f0;
*/

/*===================
GENERAL
===================*/

*, *:before, *:after {
  box-sizing: border-box;
}


/*===================
LAYOUT
===================*/

body {
  width: 100%;
  margin: auto;
  padding: 0px;
  font-family: sans-serif;
}

header {
  width: 100%;
  background-color: #606060;
  height: 100px;
}

article {
  width: 300px;
  float: left;
  background-color: #f0f0f0;
  border-radius: 20px;
  margin: 10px;
  padding: 20px 30px 30px 30px;
}

/*===================
HEADER
===================*/

nav {
  width: 100%;
}

ul {
  float: right;
  padding: 25px;
  height: 100%;
}

li {
  display: inline;
  padding: 20px;
}

li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

/*===================
MAIN
===================*/

#hero {
  background-color: #fff1e8;
  text-align: center;
  padding: 75px 0px 50px 0px;
}

#hero-button {
  width: 300px;
  display: block;
  margin: 0px auto;
  border-radius: 10px;
  padding: 10px 75px;
  text-decoration: none;
  color: white;
  background-color: pink;
}

#features {
  margin: 0px 150px;
}

#aboutus {
  background-color: #fff1e8;
  display: inline-block;
  margin-bottom: -20px;
  padding: 40px 400px;
}

.img-float-left {
  float: left;
  padding-right: 30px;
}

/*===================
FOOTER
===================*/

footer {
  height: 100px;
  background-color: #606060;
}

footer p {
  text-align: center;
  padding-top: 45px;
}
