body {
  font-family: sans-serif;
  border-style: solid;
  width: 90%;
  margin: auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/*
#container {

}*/

header {
  padding: 30px;
}

h1 {
  text-align:center;
}

#header-nav {
  padding: 2%;
  border: 2px solid black;
}

.nav-link {
  margin: 10px;
}

.first-navs,
.third-navs {
  display: inline-block;
  padding: 5px;
}

#solo-nav {
  display: inline-block;
  padding: 5px;
  border: 2px solid black;
  background-color: #b7b7b8;
}

/*a {

}*/

main {
  padding: 30px;
}

/*section {

}*/

.main-article {
  text-align: left;
}

h3 {
  /*float:left;*/
  padding: 0px;
}

/*#art2 {
  position: relative;
  padding: 30px;
}*/

.article-text {
  width: 67%;
  float: left;
}

img {
  width: 170px;
  height: 160px;
}

#article-two-img {
  float: right;
}

#article-img-p {
  float: left;
  margin: 10px;
  width: 50%;
}

#second-p {
  float: left;
}

aside {
  width: 25%;
  height: 600px;
  float: right;
  border: 2px solid black;
  margin: 30px;
}

#aside-image {
  width: 220px;
  padding: 20px;
}

#article-divider {
  border: 1px solid black;
  width: 60%;
  margin-bottom: 40px;
}

.aside-nav {

}

.aside-link {

}
