body {
  font-family: sans-serif;
  border-style: solid;
  width: 90%;
  margin: auto;
}

header {
  padding: 20px;
}

h1 {
  text-align:center;
}

#header-nav {
  margin: 2%;
  border: 2px solid black;
  padding: inherit;
}

.nav-link {
  margin: 10px;
}

.first-navs,
.third-navs {
  display: inline-block;
  padding: 5px;
}

#solo-nav {
  display: inline-block;
  padding: 5px;
  border: 2px solid black;
  background-color: #b7b7b8;
}

a {

}

main {
  padding: 40px;
}

section {

}

.main-article {
  text-align: left;
}

h3 {
  float:left;
  margin-bottom: 20px;
  position: relative;
}

.article-text {
  width: 67%;
  float: left;
}

img {
  width: 170px;
  height: 160px;
}

#article-two-img {
  float: right;
}

#article-img-p {
  float: right;
  margin: 10px;
  width: 50%;
}

#second-p {
  float: left;
}

aside {
  width: 30%;
  float: right;
  display: inline;
}

#aside-image {
  width: 220px;
  vertical-align: middle;
}

#article-divider {
  border: 1px solid black;
  width: 67%;
}

.aside-nav {

}

.aside-link {

}
