/* Note: This is a pretty typical example of how I might organize my CSS.
Layout contains the CSS that lays out the main content areas, and then
each area has its own styles. The `header` tag, for example, might have
a float or width applied in LAYOUT, and any other styling under HEADER.
This is just my preference.

I'm pretty sure you shouldn't need any selectors I have not created below.
They're not the most efficient selectors and there are a lot of ways they
could be optimized, but I'm keeping it simple for this exercise. */

/*===================
GENERAL
===================*/

*, *:before, *:after {
  box-sizing: border-box;
}


/*===================
LAYOUT
===================*/

#wrapper {
  margin: 25px;
}

header {
  text-align: center;
}

main {

}

#content {
  float: left;
}

#sidebar {
  float: right;
}


/*===================
HEADER
===================*/

header {
  background: rgba(0,100,0,0.1);
}

h1 {

}

#nav-main {
  margin: 15px;
}

#nav-main ul {
  border: 2px solid black;

}

#nav-main li {
  display: inline-block;
  margin: 0px 10px 10px 10px;
}


/*===================
MAIN
===================*/

main {
  background: rgba(100,0,0,0.1);
}

#content {
  background: rgba(0,0,100,0.1);
}

article {
  background: rgba(100,0,100,0.1);
}

.article-header {
  float: left;
  padding: 10px 0px 10px 10px;
}

.img-float-right {
  float: right;
}


/*===================
SIDEBAR
===================*/

#sidebar {
  background: rgba(0,0,100,0.1);
  display: inline-block;
}

#sidebar ul {

}

#sidebar li {
  float: left;
  border-bottom: 2px solid black;
}
