/* Note: This is a pretty typical example of how I might organize my CSS.
Layout contains the CSS that lays out the main content areas, and then
each area has its own styles. The `header` tag, for example, might have
a float or width applied in LAYOUT, and any other styling under HEADER.
This is just my preference.

I'm pretty sure you shouldn't need any selectors I have not created below.
They're not the most efficient selectors and there are a lot of ways they
could be optimized, but I'm keeping it simple for this exercise. */

/*===================
GENERAL
===================*/

*, *:before, *:after {
  box-sizing: border-box;
}


/*===================
LAYOUT
===================*/

#wrapper {
  width: 960px;
  background: rgba(0,100,100,0.1);
  padding: 5px 20px 20px 20px;
  margin: 0px auto;
  overflow: hidden;
}

header {
  width: 100%;
  text-align: center;
}

main {
  width: 100%;
  padding: 20px;
  float: left;
}

#content {
  width: 66%;
  float: left;
}

#sidebar {
  width: 33%;
  float: right;
}


/*===================
HEADER
===================*/

header {
  background: rgba(0,100,0,0.1);
  margin: 20px 20px 20px 0px;
}

h1 {
  padding-top: 20px;
}

#nav-main {
  padding-bottom: 10px;
}

#nav-main ul {
  border: 2px solid black;
  padding-left: 0px;
  margin: 0px 15px;
}

#nav-main li {
  display: inline-block;
  margin: 10px 20px;
}


/*===================
MAIN
===================*/

main {
  background: rgba(100,0,0,0.1);
}

#content {
  background: rgba(0,0,100,0.1);
}

article {
  background: rgba(100,0,100,0.1);
  margin: 20px;
  padding: 20px;
}

.article-header {
  margin: auto;
  padding: 10px;
}

.img-float-right {
  float: right;
}


/*===================
SIDEBAR
===================*/

#sidebar {
  background: rgba(0,0,100,0.1);
  padding: 20px;
}

#sidebar ul {
  list-style-type: none;
  padding-left: 0px;
}

#sidebar li {
  border-bottom: 2px solid black;
  padding: 5px;
}

/*===================
FOOTER
===================*/

footer {
  background: white;
  width: 100%;
  text-align: center;
  float: left;
  margin-top: 20px;
}
