/* Note: This is a pretty typical example of how I might organize my CSS.
Layout contains the CSS that lays out the main content areas, and then
each area has its own styles. The `header` tag, for example, might have
a float or width applied in LAYOUT, and any other styling under HEADER.
This is just my preference.

I'm pretty sure you shouldn't need any selectors I have not created below.
They're not the most efficient selectors and there are a lot of ways they
could be optimized, but I'm keeping it simple for this exercise. */

/*===================
GENERAL
===================*/

*, *:before, *:after {
  box-sizing: border-box;
}


/*===================
LAYOUT
===================*/

/*html {
  width: 960px;
  margin: 0px auto;
  background: rgba(0,100,100,0.1);
}*/

#wrapper {
  width: 100%;
  margin-left: 20px;
  background: rgba(0,100,100,0.1);
  padding: 10px 20px;
  /*float: left;*/
  /*position: relative;*/
  /*min-height: contain-floats;*/
}

header {
  width: 100%;
  text-align: center;
}

main {
  /*width: 100%;*/
  /*padding-right: 20px;
  padding-left: 0px;*/
  /*float: left;*/
  clear: both;
  margin: none;
  overflow: hidden;
}

body {
  width: 100%;
  margin: 0px;
  /*background: rgba(100,100,100,0.1);
  clear: both;*/
}

#content {
  width: 66%;
  float: left;
  /*clear: both;*/
}

#sidebar {
  width: 33%;
  float: right;
  /*clear: right;*/
}


/*===================
HEADER
===================*/

header {
  background: rgba(0,100,0,0.1);
}

h1 {
  padding-top: 20px;
}

#nav-main {
  padding-bottom: 20px;
}

#nav-main ul {
  border: 2px solid black;
  padding-left: 0px;
  margin: 0px 15px;
}

#nav-main li {
  display: inline-block;
  margin: 10px 20px;
}


/*===================
MAIN
===================*/

/*main {
  background: rgba(100,0,0,0.1);
  width: 960px;
  padding: 20px;
}*/

#content {
  background: rgba(0,0,100,0.1);
  padding: 5px 0px;
}

article {
  background: rgba(100,0,100,0.1);
  margin: 20px;
  padding: 20px;
}

.article-header {
  margin: auto;
  padding: 10px;
}

.img-float-right {
  float: right;
}


/*===================
SIDEBAR
===================*/

#sidebar {
  background: rgba(0,0,100,0.1);
  padding: 20px;
}

#sidebar ul {
  list-style-type: none;
  padding-left: 0px;
  float: left;
}

#sidebar li {
  border-bottom: 2px solid black;
  padding: 5px;
}

/*===================
FOOTER
===================*/

footer {
  background: white;
  width: 100%;
  text-align: center;
  clear:both;
  padding: 20px;
  margin: auto;
}
